#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 103, 128);
    height: 5vw;
  

}




#logo{
    width: 15vw;
    
    align-items: center;
    
    margin: 1vw 0vw 0vw 2vw;
    align-items: center;
    text-align: center;
    padding: 12px;
    color: white;
    font-weight: bold;
}


#navbaritem{
    display: flex;
   justify-content:space-around;
   flex-grow:1;
   align-items: center;
   padding-left: 5vw;
   
   

  
}
.options{
font-family: serif;

    flex-grow: 1;
 
}
a:link{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
a:hover{
    color: rgb(221, 94, 170);
    transition: 3s;
}
.deadspace{
    flex-grow: 1;
    flex-shrink:2;
}
.checkbutton{
    font-size: 30px;
    color: black;
}
#heropage {
    display: flex;
    flex-direction: row;
     
    /* background-size:contain;
    background-repeat: no-repeat; */
    background-color: rgb(226, 219, 219);
    background-size:900px 100vh;
    /* padding: 10px 0px 0px; */
    height: 50vh;
    margin-top: 10px;

}
#contentbox{
    display: flex;
    flex-direction:column;
      /* border: 2px solid olive;   */
     margin: 20px 2px 0px 90px;
    
    width: 40vw;
    height: 55vh;
   overflow-y:hidden;
}
h4{
    color: rgb(99, 93, 97);
}
h2{
     /* border: 2px solid black;  */
    
    color: rgb(75, 71, 71);
}
#contentbutton{
    display: flex;
    flex-direction: row;
}
#herobutton{
    width: 12vw;
    height: 8vh;
    border-radius: 25px;
    background-color:rgb(128, 103, 128);
    border: solid 2px rgb(46, 31, 40);
    color: rgb(41, 23, 34);
    margin: 25px 0px 0px;

}
#heroimage{
    display: flex;
    flex-direction:row;
    flex-direction: row-reverse;
    justify-content: center;
     /* border: 2px solid black;  */
     border-radius: 100px;
    /* height: 62vh; */
    /* margin: 80px 0px 0px 120px; */
    height: 40vh;
    width: 20vw;
    overflow: hidden;
    margin: 30px 30px 0px 70px;

    /* margin: 120px 30px 0px 0px; */
}
p{
    text-align: left;
}
#sectionbox{
    display: flex;
    flex-direction: row;
    background-color: rgb(184, 179, 179) ;
    margin-top: 10px;
}
#about{
    width: 50vw;
    /* border: 2px solid black; */
    background-color: rgb(226, 219, 219);
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
}
#basic{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    
    background-color: rgb(226, 219, 219);
    border-radius: 15px;
    
    width: 50vw;
    margin: 10px 0px 10px 20px;
    justify-items: center;
}
#info{
    margin-left: 10px;
}
p,h3{
    margin-left: 10px;
}
span{
    font-family: 'Courier New', Courier, monospace;
}
#skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    /* border: 2px solid black; */
    width: 22vw; 
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: rgb(226, 219, 219);
}
h1{
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    height: 10vh;
    background-color: rgb(226, 219, 219);
    padding-top: 20px;
}
body{
    background-color:rgb(184, 179, 179) ;
}